<section id="about">
    <title>{{title}}</title>
    <h1 class="about__header">ABOUT</h1>
    <div class="container">
        <div class="row">
            <div class="about__container">
                <figure class="about__img--wrapper">
                    <img class="about__img" src="./images/Me.jpg" alt="">
                </figure>
                <p class="about__para">My name is Manwinder, and I have been studying computer programming for the past
                    year. I'm searching for a job as a web developer because that's what I've been doing in my spare
                    time for the last three semesters in order to jump-start my career before I graduate. designing
                    websites for friends, creating easy-to-use online stores with the aid of open-source content
                    management systems, and so on. When I'm not working or studying, which naturally takes up the most
                    of my time, I am just a regular person who likes to read and get out with friends. I am a dedicated,
                    accountable, creative, open-minded, outgoing, and aspirational web developer.</p>
            </div>
        </div>
    </div>
</section>
<section id="languages">
    <div class="container">
        <div class="row">
            <h1 class="section__title">This is my <span class="text--purple">technology stack</span></h1>
            <div class="language__list">
                <div class="language">
                    <figure class="language__img--wrapper">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/HTML5_Badge.svg/240px-HTML5_Badge.svg.png"
                            alt="Html Logo" class="language__img" />
                    </figure>
                    <span class="language__name">HTML</span>
                </div>
                <div class="language">
                    <figure class="language__img--wrapper">
                        <img src="https://cdn.iconscout.com/icon/free/png-256/css-131-722685.png" alt="CSS Logo"
                            class="language__img" />
                    </figure>
                    <span class="language__name">CSS</span>
                </div>
                <div class="language">
                    <figure class="language__img--wrapper">
                        <img src="https://cdn.iconscout.com/icon/free/png-256/javascript-1-225993.png"
                            alt="JavaScript Logo" class="language__img" />
                    </figure>
                    <span class="language__name">JavaScript</span>
                </div>
                <div class="language">
                    <figure class="language__img--wrapper">
                        <img src="./images/express.png" alt="TypeScript Logo" class="language__img" />
                    </figure>
                    <span class="language__name">Express</span>
                </div>
                <div class="language">
                    <figure class="language__img--wrapper">
                        <img src="./images/node-js.png" alt="TypeScript Logo" class="language__img" />
                    </figure>
                    <span class="language__name">Node</span>
                </div>
                <div class="language">
                    <figure class="language__img--wrapper">
                        <img src="./images/mongodb.png" alt="TypeScript Logo" class="language__img" />
                    </figure>
                    <span class="language__name">MongoDB</span>
                </div>
            </div>
        </div>
    </div>
    <div class="contact__btn">
        <button class="about__btn"><a class="" href="contact">Contact Me!</a></button>
    </div>
</section>