{{!-- Contact Page --}}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="contact__container">
                <div class="contact__wrapper">
                    <figure class="contact__img--wrapper">
                        <img class="contact__img" src="./images/undraw_contact.svg" alt="">
                    </figure>
                    <form class="contact__form validate__form">
                        <span class="contact__form--title">
                            Let's Talk!
                        </span>
                        <div class="input__wrap">
                            <span class="input__label">Your Name</span>
                            <input class="input__area text__area" type="text" name="name" placeholder="Enter your name">
                        </div>
                        <div class="input__wrap">
                            <span class="input__label">Email</span>
                            <input class="input__area" type="email" name="email" placeholder="Enter your email addess">
                        </div>
                        <div class="input__wrap">
                            <span class="input__label">Message</span>
                            <textarea class="input__area" name="message" placeholder="Your message here..."></textarea>
                        </div>
                        <div class="contact__btn--wrapper">
                            <button class="contact__btn--form">
                                <span class="btn__text">
                                    Submit
                                    <i class="fa fa-long-arrow-right m-l-7"></i>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="social__links">
                <h1 class="section__title">Get in <span class="text--purple">Touch!</span></h1>
            <div class="language__list">
                <div class="language">
                    <figure class="language__img--wrapper">
                        <img src="./images/linkedin.png" alt="TypeScript Logo" class="language__img" />
                    </figure>
                    <span class="language__name">LinkedIn</span>
                </div>
                <div class="language">
                    <figure class="language__img--wrapper">
                        <img src="./images/mail.png" alt="TypeScript Logo" class="language__img" />
                    </figure>
                    <span class="language__name">E-mail</span>
                </div>
                <div class="language">
                    <figure class="language__img--wrapper">
                        <img src="./images/mobile.png" alt="TypeScript Logo" class="language__img" />
                    </figure>
                    <span class="language__name">Mobile</span>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>