{{!-- Projects Page --}}
<section id="projects">
    <div class="container">
        <div class="row projects__row">
            <h1 class="section__title">Here are some of my <span class="text--purple">projects</span></h1>
            <ul class="project__list">
                <li class="project">
                    <div class="project__wrapper">
                        <img src="./images/undraw_web_shopping.svg" alt="" class="project__img">
                        <div class="project__description">
                            <h3 class="project__description--title">E-Commerce Website</h3>
                            <h4 class="project__description--sub-title">HTML, CSS, JavaScript</h4>
                            <p class="project__description--para">Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Exercitationem quasi, numquam in nesciunt quaerat quia obcaecati
                                velit reiciendis ex sapiente mollitia cupiditate optio, maxime suscipit animi
                                aspernatur soluta voluptatum ducimus.</p>
                            <div class="project__description--links">
                                <a href="https://github.com/ManwinderX" target="_blank"
                                    class="project__description--link">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                                <a href="www.mywebsite.com" target="_blank" class="project__description--link">
                                    <i class="fas fa-link"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="project">
                    <div class="project__wrapper">
                        <img src="./images/undraw_online_gallery.svg" alt="" class="project__img">
                        <div class="project__description">
                            <h3 class="project__description--title">E-Portfolio</h3>
                            <h4 class="project__description--sub-title">HTML, CSS, JavaScript</h4>
                            <p class="project__description--para">Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Exercitationem quasi, numquam in nesciunt quaerat quia obcaecati
                                velit reiciendis ex sapiente mollitia cupiditate optio, maxime suscipit animi
                                aspernatur soluta voluptatum ducimus.</p>
                            <div class="project__description--links">
                                <a href="https://github.com/ManwinderX" target="_blank"
                                    class="project__description--link">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                                <a href="www.mywebsite.com" target="_blank" class="project__description--link">
                                    <i class="fas fa-link"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="project">
                    <div class="project__wrapper">
                        <img src="./images/undraw_static_assets.svg" alt="" class="project__img">
                        <div class="project__description">
                            <h3 class="project__description--title">Car sales Project</h3>
                            <h4 class="project__description--sub-title">HTML, CSS, JavaScript</h4>
                            <p class="project__description--para">Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Exercitationem quasi, numquam in nesciunt quaerat quia obcaecati
                                velit reiciendis ex sapiente mollitia cupiditate optio, maxime suscipit animi
                                aspernatur soluta voluptatum ducimus.</p>
                            <div class="project__description--links">
                                <a href="https://github.com/ManwinderX" target="_blank"
                                    class="project__description--link">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                                <a href="www.mywebsite.com" target="_blank" class="project__description--link">
                                    <i class="fas fa-link"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>